<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/friends"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Friends
      </a>
    </div>
    <div class="col-sm">
      <a href="/education"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
      <span><i class="fa fa-book"></i></span>
      <br>Education
      </a>
    </div>
    <div class="col-sm">
      <a href="/experience"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-code"></i></span>
        <br>Experience
      </a>
    </div>
    <div class="col-sm">
      <a href="/hobbies"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-snowflake-o"></i></span>
        <br>Hobbies
      </a>
    </div>
  </div>
</div>
